.infinit-loader,
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.infinit-loader {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-loader {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}
